/*General Settings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
    
}

body {
    font-weight: 300;
    color: #878787;
    
}

/* Hero Styling */

.hero {
    position: relative;
    border-radius: 10px;
    filter: grayscale(30%);
    background-position: center;
    background-size: cover;
    height: 500px;
    background-image: url(../img/banner.jpg);
    

}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;

}

/* Simple Tags Styling */

aside {
    float: left;
    width: 20%;
    position: relative;
    
}

footer {
    float: left;
    width: 100%;
}

/*Placeholder Debug Boxes*/

.debug-box {
    height: 50px;
    /* background: rgba(0,0,0,0.2); to remove it */
    border: 1px solid rgba(0,0,0,0.2);
}

/*Clearfix*/

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

/*Padding and Margin Utilities*/

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-10 {
    margin-top: 10px;
}


/*Main Content Styling*/

.main-content-container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}


.central-topic {
    float: left;
    width: 60%;
    
    padding: 0 15px;
    background-clip: content-box;
}

/* Header and Menu Styling */

header img {
    width: 150px;
}

header ul li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.hero > h2 {
    position: absolute;
    width: 50%;
    bottom: 150px;
    left: 45px;
    color: white;
    font-weight: 300;
}
.hero > h3 {
    position: absolute;
    width: 50%;
    bottom: 90px;
    left: 45px;
    color: white;
    font-weight: 300;
    font-size: 15px;
}

/* Page Title Styling  */

.page-title > h2 {

    font-size: 30px;
    color: black;

}

.page-title .subtitle {
    display: block;
    font-size: 15px;
}

/* Sidebars Styling */

aside img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    
}

aside h4 {
    color: black;
    font-weight: 400;
}

/* Black Overlay over Images */

.black-overlay {
    position: relative;
    

}

.black-overlay::before {

    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;

}

/*Central Topic Styling*/

.central-topic img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    
    
}

.central-topic h4 {
    color: black;
    font-weight: 400;
}

/* Footer Styling */

.footer-txt {
    font-size: 12px;
    text-align: center;
    color: black;

}

.footer-txt .heart {
    color: red;
    font-size: 16px;
}






